*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}
.image{
    width: 100%;
     height: 118vh; 
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

main{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
 main li{
    float: left;
     margin-right: 20px; 
}
main li, a{
    padding: 20px 10px;
    color: black;
    font-size: 18px;   
}
main nav{
    padding-top: 30px;
     padding-left: 60px; 
}
 main .pirveli{
    margin-left: 750px;}


main a{
    font-size: 20px;
}
 .pirveli a{
    color: #ffffff; 
}
  .pirveli{
     background-color: rgb(52, 160, 52);
  border-radius: 0px 36px 0px 36px;
  padding: 20px;
  margin-top: 20px;
} 
.meore{
    background-color: rgb(153, 152, 152);
    border-radius: 0px 36px 0px 36px;
     padding: 20px; 
    margin-top: 20px;
    margin-left: 50px; 
}
.mesame{
    background-color: rgb(153, 152, 152);
    width: 70px;
    height: 70px;
margin-top: 22px;
  margin-left: 50px;
    border-radius: 0px 36px 0px 36px; 
}
.time{
    width: 340px;
    height: 140px;
    margin-top: 300px;
    margin-left: 1070px;
}

.aqcia{
    text-align: center;
}
.timing{
    padding-top: 36px;
    padding-left: 80px;
     font-size: 28px;
}
.wre{
    width: 32px;
    height: 32px;
     border-radius: 50%;
    background-color: #339b38;
    position: relative;
    animation: wre 3s infinite;
    }
@keyframes wre {
    0%{top:0; left:0;}
    25%{top:0; left:308px;} 
    50%{top:108px; left: 308px;}
    75%{top:108px; left:0; }
    100%{top:0; left:0;}
}
.xe{
    width: 1080px;
    height: 500px;
    margin: 20px auto;
    margin-top: 170px;
    margin-right: 200px;
    padding-top: 30px;
    position: relative;
}
.gero{
    width: 1px;
    height: 450px;
    background-color: black;
    margin: 14px auto;
}
.first{
    width: 46%;
    height: 30px;
     position: absolute; 
     top: 0;
      left: 0; 
}
.first .leaf1{
    width: 50px;
    height: 50px;
    border-radius: 0px 30px 0px 30px;
    background-color: #339b38;
   position: absolute;
   top: 0;
   left: 98%;
}
.second{
    width: 50%;
    height: 30px;
    position: absolute;
    top: 230px;
    left: 0;

}
.second .leaf2{
    width: 50px;
    height: 50px;
    border-radius: 0px 30px 0px 30px;
    background-color: rgb(153, 152, 152);
   position: absolute;
   top: 6px;
   left: 91%;
}

.third{
    width: 46%;
    height: 30px;
     position: absolute; 
     top: 10;
      left: 100; 
}
.third .leaf3{
    width: 50px;
    height: 50px;
    border-radius: 30px 0px 30px 0px;
    background-color: rgb(153, 152, 152);
   position: absolute;
  top: 82px;
   right: 90%;
}
.third p{
    margin-top: 82px;
    margin-left: 64px;
}
      .forth .leaf4{
        width: 50px;
        height: 50px;
        border-radius: 30px 0px 30px 0px;
        background-color: rgb(153, 152, 152);
       position: absolute;
      top: 360px;
       left: 50%;
      }
.third .saboloo{
    padding-top: 108px;
}